<h1>WELCOME ADMIN!</h1>
  <div class="container">
    <h2>Total Products in Database: <%= @products %></h2>
  </div>
  <div class="container">
    <h2>Total Categories in Database: <%= @categories %></h2>
  </div>
