// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// App
@import "products";

// Global
body {
  
}

header.user {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #e7e7e7;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
