<br/><br/>
<% if current_user %>
  <h2>Leave a Review:</h2>
  <%= form_for :review, url: "#{@product.id}/reviews" do |f| %>
    <textarea class="form-control" rows="3" <%= f.text_area :description %><br/></textarea>
  <div class="dropdown">
    <strong>Rating:</strong> <%= f.select :rating, [1, 2, 3, 4, 5] %><br/><br/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"<%= f.submit "Submit" %>Submit Review</button>
  </div>
  <% end %>
<% else %>
<% end %>